.header {
  .header-inner {
    max-width: 1400px;
    align-items: center;

    #logo {
      width: 130px;
    }

    nav {
      margin-left: 50px;

      a {
        margin-right: 10px;
      }
    }
  }
}
